<nav>
    <div class="site-title">
        <a href="/"><h1>Nasty</h1></a>
        <p>A Nasty Blog site</p>
    </div>
    <ul>
        <li><a href="/blogs">Nasty Blogs</a></li>
        <li><a href="/about">About Nasty</a></li>
        <li><a href="/blogs/create">New Nasty Blog</a></li>
    </ul>
</nav>