<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs') %>
<body>
    <%- include('./partials/nav.ejs') %>

    <div class="about content"> 
        <h2>About This Nasty Project</h2>
        <p>Just a learning project bros, tryna be nasty, lots more nasty things to come</p>
    </div>
    <%- include('./partials/footer.ejs') %>
</body>
</html>